@model UCPpraktikum.Models.ReadingApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReadingApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdventureGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdventureGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FantasyGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FantasyGenre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBookNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBookNavigation.IdApplication)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBook">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
